html, body {
  overflow-x: hidden;
}

header .menu li a {
	font-size: 28px;
}

header h1 {
	font-size: 40px;
	margin-top: 35px;
	font-family: bilbo;
}

.wrap-col h2 {
	font-size: 36px;
	font-weight: bold;
}

.top .row img {
	width: 310px;
	height: 316px;
}

.button {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 24px;
}

.wrap-col p {
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 1015px) {
	.container {
		max-width: 80vw;
	}

    .top .row img {
	width: 155px;
	height: 158px;
  }
    
  .wrap-col h2 {
    font-size: 26px;
}

    header h1 {
        margin-left: 30px;
        font-size: 36px;
    }

    nav .menu {
        margin-right: -125px;
    }
}

@media (max-width: 600px) {
    .top .row {
        display: flex;
        flex-direction: column;
    }

    .top .row img {
	width: 310px;
	height: 316px;
}

.wrap-col p {
    min-width: 80vw;
}

.wrap-col h2, .button {
    min-width: 100vw;
}

 .top .row img {
	width: 250px;
	height: 260px;
}

}