html, body {
  overflow-x: hidden;
}
.container {
		max-width: 80vw;
	}

header .menu li a {
	font-size: 28px;
}

header h1 {
	font-size: 40px;
	margin-top: 35px;
	font-family: bilbo;
}

.wrap-col h2 {
	font-size: 36px;
	font-weight: bold;
}

.top .row img {
	width: 120%;
	height: 100%;
}

.button {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 24px;
}

.wrap-col p {
    font-size: 16px;
    line-height: 18px;
}

@media (max-width: 1015px) {
	.container {
		max-width: 95vw;
	}
.top .row img {
	width: 80%;
	height: 100%;
}
    
  .wrap-col h2 {
    font-size: 26px;
}

    header h1 {
        margin-left: 30px;
        font-size: 36px;
    }

    nav .menu {
        margin-right: -125px;
    }
}

@media (max-width: 600px) {
    .top .row {
        display: flex;
        flex-direction: column;
    }

    .top .row img {
	width: 310px;
	height: 316px;
}

.wrap-col p {
    width: 315%;
}

.wrap-col h2, .button {
    width: 150%;
}

.top .row img {
	width: 250%;
	height: 100%;
    margin-left: 30%;
}
}