* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
}

html, body {
  transition: 0.3s linear;
  overflow: hidden;

}

.container {
  background-image: linear-gradient(to right, blue, grey);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-width: 100vw;
}

h1 {
  font-size: 38px;
  margin: 15px 10px;
  padding: 20px;
  display: inline-block;
  border: 3px solid white;
  background-image: linear-gradient(to right, blue, grey);
  border-radius: 25px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

h1:hover {
  transform: scale(1.2);
}

select {
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 46%;
  height: 40px;
  width: 400px;
  padding: 0 40px;
  font-size: 32px;
  border: 3px solid white;
  background-image: linear-gradient(to right, blue, grey);
  background-color: blue;
  cursor: pointer;
}

option {
  font-weight: bold;
}

.select-stats {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 5.5%;
  left: 35%;
}

.sidepic {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 30%;
  height: 55%;
  border-radius: 50%;
  border: none;
  border: 5px solid black;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.sidepic:hover {
  transform: scale(1.2);
}

.positions {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.RW {
  position: absolute;
  left: 840px;
  top: 305px;
}

.C {
  position: absolute;
  left: 590px;
  top: 305px;
}

.LW {
  position: absolute;
  left: 335px;
  top: 305px;
}

.RD {
  position: absolute;
  left: 740px;
  top: 605px;
}

.LD {
  position: absolute;
  left: 445px;
  top: 605px;
}

.imgRW {
  position: absolute;
  left: 810px;
  top: 105px;
}

.imgC {
  position: absolute;
  left: 560px;
  top: 105px;
}

.imgLW {
  position: absolute;
  left: 310px;
  top: 105px;
}

.imgRD {
  position: absolute;
  left: 700px;
  top: 400px;
}

.imgLD {
  position: absolute;
  left: 410px;
  top: 400px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.4);
}

h2 {
  font-size: 45px;
  margin-left: 2rem;
}

.fw {
  margin-top: 4rem;
}

.df {
margin-top: 14rem;
}

.player {
  font-size: 36px;  
  font-weight: bold;
  position:absolute;
  right:110px;
  bottom: 130px;
}

@media (max-width: 767px) {
  .select-stats {
    font-size: 25px;
    top:100px;
    left:120px;
  }

  h1 {
    font-size: 45px;
    margin: 20px 50px;
    padding: 7px;
    margin-top: .5rem;
    text-align: center;
  }

  h2, .select-stats {
    display: none;
  }

  .container {
    height: 120vh;
  }

  select {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 90%;
    font-size: 19.8px;
    text-align: center;
  }

  .sidepic {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 475px;
    left: 100px;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .positions {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .RW {
    position: absolute;
    left: 285px;
    top: 285px;
  }

  .C {
    position: absolute;
    left: 150px;
    top: 285px;
  }

  .LW {
    position: absolute;
    left: 15px;
    top: 285px;
  }

  .RD {
    position: absolute;
    left: 215px;
    top: 435px;
  }

  .LD {
    position: absolute;
    left: 90px;
    top: 435px;
  }

  .imgRW {
    position: absolute;
    left: 270px;
    top: 200px;
  }

  .imgC {
    position: absolute;
    left: 140px;
    top: 200px;
  }

  .imgLW {
    position: absolute;
    left: 10px;
    top: 200px;
  }

  .imgRD {
    position: absolute;
    left: 205px;
    top: 350px;
  }

  .imgLD {
    position: absolute;
    left: 75px;
    top: 350px;
  }

  .player {
    display: none;
  }
}
