/******************** Adding font  **********************/

@font-face {
  font-family: "racing sans one";
  src: url("RacingSansOne-Regular.ttf");
}

/******************** body  **********************/

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  color: #3f3f3f;
  font: 14px/25px Arial;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}

/************header*****************/

header {
  background: lightgrey;
}

/******************** logo  **********************/

header .row {
  display: flex;
}

p.text {
  color: blue;
  font-size: 30px;
}

header .logo img {
  display: inline-block;
  margin: 0px auto;
  padding: 10px;
  max-width: 210px;
}

/**********slider**************/

.slider {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: black;
  overflow: hidden;
}
.slider img {
  display: block;
  position: relative;
  z-index: 1;
  height: 620px;
  width: 100%;
  border: 0;
  overflow: hidden;
}
.caption {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-shadow: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0;
}
.caption h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

/**********************content***********************/

.content-box {
  margin-bottom: 30px;
}
.content-box .box-1 {
  padding-bottom: 30px;
  min-height: 380px;
}

/**********************small slider in motobike, about , contact pages ***********************/

.header {
  text-align: center;
  margin: 60px auto 50px;
}
.heading {
  background: #000;
  border-right: 6px solid #f3542d;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  font-weight: normal;
  height: 60px;
  line-height: 42px;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
  transform-style: flat;
}
.heading span {
  display: block;
  transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
  transform-style: flat;
}

/*********************  ***********************/

.content-box .item {
  padding: 10px 0;
}
.zoom-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.content-box .item img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.content-box .item .item-content {
  background: #fff;
  padding: 25px;
  border: 1px solid #ddd;
}
.content-box .item span {
  font-size: 15px;
  font-weight: 500px;
  color: #000;
}
.content-box .item:hover .zoom-container img {
  transform: scale(1.25) rotate(5deg);
}
.content-box .item:hover .item-content {
  background: #f3542d;
  color: #fff;
  transition: all 600ms ease;
}
.content-box .item:hover .item-content p,
.content-box .item:hover .item-content span {
  color: #fff;
}
.content-box .item:hover a.btn {
  color: #fff;
  border-color: #fff;
}

/*********************  ***********************/

.box-2 img {
  z-index: -1;
  height: 400px;
  min-width: 1200px;
}

.box-2 .heading {
  z-index: 1;
  position: relative;
  bottom: 250px;
  left: 300px;
  font-size: 50px;
  margin-right: 100px;
  margin-bottom: 1rem;
}
.content-box.box-2 p {
  color: #fff;
}

/*********************  ***********************/

.content-box.box-3 .post {
  background: none;
  color: #3f3f3f;
  margin-bottom: 30px;
  border: 1px solid #fff;
}
.content-box.box-3 .post img {
  max-height: 440px;
  width: 100%;
  border: none;
}
.content-box.box-3 .post .wrapper {
  padding: 60px 60px 20px 60px;
  text-align: center;
}

.post:after,
.post:before,
section:after,
section:before,
article:after,
article:before {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*********************  ***********************/

.content-box.box-4 {
  background: url(https://images2.minutemediacdn.com/image/upload/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/dataimagewebpbase64UklGRt7fAQBXRUJQVlA4INLfAQBwugm-9efc4810c33b62b25e027644e665bde8.jpg)
    fixed 0 0;
  min-height: 380px;
  padding: 40px 0;
  text-align: center;
}

/*********************  ***********************/

.content-box.box-5 .item {
  border-right: 1px solid #ccc;
  padding-right: 30px;
  min-height: 380px;
}

/***************footer********************/

.maps {
  margin: 30px 0;
}
iframe {
  border: 0;
  padding: 0;
  margin: 0;
}
footer {
  margin-top: 40px;
  text-align: center;
  background: #f3542d;
}
footer a {
  color: #fff;
}
.wrap-footer {
  color: #fff;
  font-size: 13px;
  padding: 30px 20px;
}
.wrap-footer h3 {
  margin-bottom: 10px;
}

/******************** motobike page  **********************/

.sub-header {
  background: url(../images/bg-4.jpg);
  min-height: 150px;
  padding: 35px 10px 0;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  margin-bottom: 50px;
}
.sub-header h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
article {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
article img {
  display: inline-block;
  float: left;
  margin-right: 15px;
  border: 1px solid #777;
}

article .art-header h3 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
}
article .art-header a:hover {
  text-decoration: none;
}

/******************** sidebar in motobike page  **********************/

.wrap-sidebar {
  margin: 0px 10px;
}
.widget {
  margin-bottom: 30px;
  padding: 5px 25px 10px;
}
.wid-meta ul li {
  font-size: 16px;
}
.wid-content {
  padding: 10px 0;
}

.wid-archive select {
  margin: 5px 0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-family: "noto serif";
  font-size: 16px;
  background-color: #e9e9e9;
  color: #777;
  border: none;
}

/*******************about**********************/

blockquote {
  quotes: none;
}
article .entry-title {
  margin: 10px 0;
}
article .entry-title h1 {
  line-height: 1.2;
  font-size: 38px;
}
article .art-content blockquote {
  border-left: 3px solid #1c7791;
  font-size: 18px;
  margin: 0 50px;
  font-style: italic;
  color: #666;
  padding-left: 20px;
}
article .art-content ol {
  float: left;
  text-align: justify;
  margin: 10px 50px;
  font-size: 16px;
  list-style: circle;
}

/*******************form**************************/

#ff label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
#ff input,
textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #000;
  border: 1px solid #afafaf;
  font-size: 16px;
  background: #fff;
}
#ff input {
  padding: 12px;
  margin: 5px 0 10px 0;
  max-height: 45px;
}
#ff textarea {
  padding: 10px;
  margin: 5px 0 25px 0;
  height: 200px;
}
#ff .btn {
  max-width: 25%;
}
#ff .btn:hover {
  opacity: 0.7;
}

/***************** Style for little things *****************/

div,
span,
img {
  vertical-align: top;
}

.f-right {
  float: right;
}

.orange {
  color: #ff970b !important;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}

/***************** Style for links *****************/

a {
  color: #ff970b;
  text-decoration: none;
  vertical-align: top;
}
a:hover {
  text-decoration: underline;
}

.btn {
  border: 3px solid #d2583e;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-family: "Racing sans one";
  line-height: 1.4;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
  vertical-align: top;
  white-space: nowrap;
}

.link {
  margin-bottom: 25px;
  text-align: left;
}
.link li {
  margin-bottom: 5px;
}
.link li a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}
.link li a:hover {
  color: #f26324;
}
.link li:before {
  content: "";
  margin-right: 13px;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #333;
}

/***************** Style for paragraph and headings *****************/

p {
  padding: 0;
  margin: 10px 0;
  color: #777;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 25px;
  line-height: 25px;
}
h3,
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5 {
  font-size: 16px;
  line-height: 16px;
}

/*****************  *****************/

.clearfix:after,
.clearfix:before,
article:after,
article:before,
.widget:after,
.widget:before,
.order:after,
.order:before {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

/************main*****************/

.slider {
  max-width: 1200px;
}

.box-1 .header {
  text-align: center;
}

.box-3 h3 {
  font-size: 32px;
  line-height: 2rem;
}

.box-3 p {
  font-size: 20px;
}

.box-3 .btn {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.item-content {
  height: 15rem;
  text-align: center;
}

.btn {
  font-size: 1.2rem;
}

.item-content .one {
  margin-top: 2rem;
  margin-left: 5rem;
}
.item-content .two {
  margin-top: 3rem;
  margin-left: 5rem;
}
.item-content .three {
  margin-top: 3.2rem;
  margin-left: 5rem;
}

.item-content h1 {
  font-weight: bold;
}
.item-content h5 {
  margin: 0.7rem 0;
  font-weight: 100;
  color: black;
}

.row .post-2 {
  display: flex;
  flex-direction: row-reverse;
}

.wrap-col2 h3 {
  color: white;
  margin: 0 1rem 1rem 0;
  background-color: black;
  border: solid white 4px;
  padding: 0.5rem 1rem;
}

.header span {
  border-bottom: solid white 3px;
}

.wrap-col2 img {
  border: solid white 4px;
  width: 400px;
  max-height: 140px;
  margin: 0 1rem 1rem 0;
}

h5 {
  text-align: center;
}

.btn.one {
  margin-top: 4rem;
}
.btn {
  display: flex;
  justify-content: center;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .slider {
    max-width: 66.5%;
    margin-left: 15rem;
  }

  .box-1 .header {
    margin-left: 14rem;
  }

  .wrap-col .zoom-container img,
  .item-content,
  .box-2 img {
    max-width: 70%;
    margin-left: 7rem;
  }

  .wrap-col .zoom-container img,
  .wrap-col .item-content {
    display: flex;
    flex-direction: column;
  }

  .adjust-1 {
    margin-right: -55px;
  }

  .wrap-col .three {
    margin-top: 0;
  }

  .content-box .item .item-content {
    border: none;
  }

  .one,
  .two,
  .three {
    padding: 0.5rem 5rem;
    position: relative;
    right: 4rem;
  }

  .box-2 .heading {
    position: relative;
    left: 500px;
  }

  .box-2 img {
    min-width: 80%;
    margin-top: 2rem;
  }

  .box-3 .post {
    max-width: 80%;
    position: relative;
    left: 110px;
  }

  .row .post-2 {
    display: flex;
    flex-direction: column;
  }

  .box-4 {
    max-width: 67.5%;
    margin-left: 14rem;
  }

  .heading {
    margin-left: -14rem;
  }

  .adjust-3 {
    max-width: 70%;
  }

  .everything {
    display: flex;
    flex-direction: column;
  }

  .content-box .item:hover .zoom-container img {
    transform: scale(0.9) rotate(5deg);
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    max-width: 50%;
    height: 20rem;
    margin-left: 22.5rem;
  }

  .slider h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .adjust-1 {
    min-width: 87%;
    position: relative;
    left: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap-col h1 {
    font-size: 2.5rem;
  }

  .wrap-col h5 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }

  .one,
  .two,
  .three {
    padding: 0.5rem 0.2rem;
    font-size: 25px;
    width: 30%;
    position: relative;
    left: 10rem;
  }

  .three {
    position: relative;
    top: 3rem;
    left: 10rem;
  }

  .box-2 .row {
    max-width: 75%;
    position: relative;
    left: 100px;
  }

  .box-2 .heading {
    position: relative;
    left: 150px;
    font-size: 2.5rem;
  }

  .adjust-2 {
    min-width: 75%;
    position: relative;
    left: 15px;
  }
  .container .row .post {
    margin: 0;
  }

  .f-right {
    float: right;
  }

  .box-4 {
    max-width: 80%;
  }

  .box-4 .header {
    position: relative;
    right: 130px;
    border-bottom: none;
  }
  .box-4 span {
    margin-left: 5rem;
  }

  .group-1 {
    display: flex;
    flex-direction: column;
  }

  .row .h-two {
    position: relative;
    left: 100px;
  }

  .group-2 {
    display: flex;
    flex-direction: column;
  }

  .wrap-col2 h3,
  .wrap-col2 img {
    font-size: 28px;
    position: relative;
    right: 47px;
    min-width: 335%;
  }
  .wrap-col2 img {
    min-height: 55vh;
  }

  .everything {
    display: flex;
    flex-direction: column;
  }

  .content-box .item:hover .zoom-container img {
    transform: scale(0.9) rotate(5deg);
  }
}

@media screen and (max-width: 750px) {
  body {
    margin-left: 3.3rem;
  }
  .slider {
    max-width: 40%;
    height: 20rem;
    position: relative;
    left: 12px;
  }

  .slider h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .box-1 .header {
    margin-left: 8rem;
  }
  .row .wrap-col {
    max-width: 81%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrap-col h1 {
    font-size: 2.5rem;
    position: relative;
    left: 40px;
  }

  .wrap-col h5 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .one,
  .two,
  .three {
    padding: 0.5rem 0.2rem;
    font-size: 25px;
    width: 30%;
    position: relative;
    left: 10rem;
  }

  .three {
    position: relative;
    top: 3rem;
    left: 10rem;
  }

  .box-2 .row {
    max-width: 61%;
    position: relative;
    left: 120px;
  }

  .box-2 .heading {
    position: absolute;
    left: 25rem;
    top: 10rem;
    width: 50%;
    font-size: 2rem;
  }

  .adjust-2 {
    min-width: 62%;
    position: relative;
    left: 15px;
  }

  .f-right {
    float: left;
  }

  .box-4 {
    max-width: 52%;
  }

  .box-4 .header {
    position: relative;
    right: 170px;
    border-bottom: none;
  }

  .group-1 {
    display: flex;
    flex-direction: column;
  }

  .group-2 {
    display: flex;
    flex-direction: column;
  }

  .wrap-col2 h3,
  .wrap-col2 img {
    font-size: 28px;
    position: relative;
    right: 146px;
    min-width: 377%;
  }
  .wrap-col2 img {
    min-height: 55vh;
    margin-top: 0;
  }

  .everything {
    display: flex;
    flex-direction: column;
  }

  .content-box .item:hover .zoom-container img {
    transform: scale(0.9) rotate(5deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-left: 12rem;
  }
  .slider {
    max-width: 22%;
    height: 12rem;
    position: relative;
  }

  .slider h1 {
    font-size: 1.1rem;
    position: relative;
    right: 1.6rem;
  }

  .box-1 .header {
    font-size: 1rem;
    position: relative;
    right: 8.5rem;
  }

  .box-1 .header span {
    font-size: 2rem;
  }

  .row .wrap-col {
    max-width: 44%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adjust-1 {
    margin-top: 2.5rem;
  }

  .wrap-col h1 {
    font-size: 2rem;
    line-height: 2rem;
    position: relative;
    left: 10px;
  }

  .wrap-col h5 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .one {
    padding: 0.5rem 0.2rem;
    font-size: 25px;
    width: 20%;
    position: absolute;
    left: 7rem;
    top: 25rem;
  }

  .two {
    padding: 0.5rem 0.2rem;
    font-size: 25px;
    width: 20%;
    position: absolute;
    left: 7rem;
    top: 26rem;
  }

  .three {
    padding: 0.5rem 0.2rem;
    font-size: 25px;
    width: 20%;
    position: absolute;
    left: 7rem;
    top: 29.5rem;
  }

  .box-2 .row {
    max-width: 34.5%;
    position: relative;
    left: 140px;
    max-height: 50vh;
  }

  .box-2 .heading {
    position: absolute;
    left: 21rem;
    top: 8rem;
    width: 70%;
    font-size: 1.8rem;
  }

  .adjust-2 img,
  .adjust-2 .wrapper {
    max-width: 55.5%;
    position: relative;
    right: 0.3rem;
  }

  .f-right {
    margin: 0 300px 0 0;
  }

  .btn-3 {
    position: relative;
    top: 2rem;
  }

  .wrapper .btn {
    padding: 0 5rem;
    margin-top: 1rem;
  }

  .wrapper h3,
  .wrapper p {
    width: 335px;
    position: relative;
    right: 3.7rem;
  }

  section .box-4 {
    min-width: 1200px;
    margin-left: 15.5rem;
  }

  .box-4 .header {
    position: relative;
    right: 290px;
    bottom: 3rem;
    border-bottom: none;
  }

  .group-1 {
    display: flex;
    flex-direction: column;
  }

  .group-2 {
    display: flex;
    flex-direction: column;
  }

  .wrap-col2 h3,
  .wrap-col2 img {
    font-size: 1.2rem;
    position: relative;
    right: 275px;
    bottom: 75px;
    min-width: 320%;
  }
  .wrap-col2 img {
    min-height: 20vh;
    margin-top: 0;
  }

  .header span {
    font-size: 1.3rem;
    font-size: bold;
    margin-left: -1.5rem;
  }

  .everything {
    display: flex;
    flex-direction: column;
  }

  .content-box .item:hover .zoom-container img {
    transform: scale(0.9) rotate(5deg);
  }
}
