
html, body {
  overflow-x: hidden;
}

header, .container {
		max-width: 100vw;
	}

.price-item {
	font-size: 16px;
	line-height: 18px;
}

h2 {
	font-size: 32px;
		line-height: 32px;
}

.wrap-col .str-2, .wrap-col .p1 {
	font-size: 16px;
	line-height: 18px;
    width: 95%;
}

.wrap-col img {
	max-width: 70%;
	height: 100%;
}


@media (max-width: 970px) {
	header, .container {
		max-width: 100vw;
	}
}
@media (max-width: 700px) {

header, .container {
		max-width: 100vw;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
	}

    .adjust-3 .wrap-col {
        width: 300%;
    }

    .adjust-4 .wrap-col {
        width: 150%;
    }

    .wrap-col img {
	max-width: 30%;
	height: 30%;
}
}

@media (max-width: 500px) {

header, .container {
		max-width: 100vw;
	}

    .adjust-5 {
        margin-left: 10%;
    }
    
    .wrap-col h2 {
        font-size: 30px;
    }

    .inner a {
        font-size: 40px;
        margin-left: -10%;
    }

	.menu li {
		margin-left: 5%;
	}

	.menu {
		margin-left: -20%;
	}

	.wrap-col img {
	max-width: 30%;
	height: 30%;
}
}

/* @media screen and (min-width: 600px) and (max-width: 900px) {

    header, .container {
		min-width: 95vw;
	}
} */