
html, body {
  overflow-x: hidden;
}

.wrap-col .p2 {
	min-width: 140%;
}

.extra-wrap dt {
	margin-top: 10px;
	font-size: 16px;
	line-height: 16px;
}

.extra-wrap dd {
	font-size: 14px;
	line-height: 14px;
}

h2 {
	font-size: 32px;
		line-height: 32px;
}

.wrap-col img {
	width: 140px;
	height: 200px;
}


@media (max-width: 970px) {
	header, .container {
		max-width: 95vh;
	}
}

@media (max-width: 700px) {

header, .container {
		max-width: 65vh;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
	}

	.adjust-4 {
		min-width: 100vh;
	}

    .adjust-4 .pad-left {
        max-width: 50vh;
    }

    nav li a {
		margin-right: -25px;
	}
}

@media (max-width: 450px) {

header, .container {
		max-width: 40vh;
	}

	nav .menu {
		display: flex;
		flex-direction: row;
	}

	nav li a {
		margin-right: -35px
	}

    .wrap-col h2 {
        font-size: 32px;
    }

    .adjust-4 .pad-left {
        max-width: 25vh;
    }

    .container h2 {
        font-size: 23px;
    }

    .inner h1 {
        font-size: 32px;
        margin-left: -25px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    header, .container {
		max-width: 95vh;
	}
}