* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mini-container .nav-links li a {
  color: white;
  padding: 0.5rem 0;
}

.nav-links li a:hover {
  color: white;
}

.mayor {
  height: 100vh;
  display: flex;
}

.mayor .left {
  margin: 8rem 2rem 0 4rem;
}

.mayor h1 {
  margin-bottom: 2rem;
}

.mayor p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.left img {
  padding: 3rem;
}

.left .learn-button {
  padding: 1rem 2rem;
  background-color: orange;
  margin-left: 5.5rem;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
}

.first-img {
  margin-top: 3rem;
}

.mayor .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.right .learn-button {
  padding: 1rem 2rem;
  background-color: orange;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
  width: 36%;
  margin-left: 35%;
}

.council {
  margin-top: 5rem;
}

.text {
  margin-left: 4rem;
}

.text h1 {
  margin-bottom: 2rem;
}

.text p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.text .learn-button {
  padding: 1rem 2rem;
  background-color: orange;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
}

.council {
  display: flex;
}

.council img {
  width: 30rem;
  height: 30rem;
  display: block;
  margin: 2rem;
}

@media (max-width: 767px) {
  .mayor {
    display: flex;
    flex-direction: column;
  }

  .mayor .left {
    margin: 2rem;
  }

  .mayor h1 {
    text-align: center;
  }

  .council {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 18rem;
  }

  .right h1 {
    margin-top: 2rem;
  }

  .right .learn-button {
    width: 48%;
    margin: 0 auto
  }

  .text .learn-button {
    width: 48%;
    margin-left: 20%;
  }

  .text p {
    margin-right: 4rem;
  }
}
